#####################################################################
#  Monitoring (AHT10 & MCU)
#####################################################################

[temperature_sensor Chamber]
sensor_type: AHT10
i2c_bus: i2c1 # Skontroluj podľa zapojenia na Mante

[temperature_sensor CB2]
sensor_type: temperature_host

[temperature_sensor Manta_V2]
sensor_type: temperature_mcu
