#####################################################################
#      Bed Heater - SSR Setup (230V)
#####################################################################

[heater_bed]
##  SSR pripojené na svorku BED_OUT
heater_pin: PA1 
##  Ak chceme HE1, zmeňit na heater_pin: PA0
sensor_type: Generic 3950
sensor_pin: PB1 
max_power: 1.0   # Pri SSR a 230V podložke netreba umelo dusiť prúd zdroja
min_temp: 0
max_temp: 120
control: pid
# PID hodnoty si po prvom nahriatí prekalibruj príkazom PID_CALIBRATE
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769
