#####################################################################
#      BTT Eddy (Cievka pripojená na SB2240 I2C)
#####################################################################

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.0                 # Toto je len štartovacia hodnota
i2c_mcu: sb2240
i2c_bus: i2c1                 # Na SB2240 sú to piny PB8 (SCL) / PB9 (SDA)
x_offset: 0                   # Uprav podľa tvojho držiaka (Eddy nie je v tryske!)
y_offset: 21.42               # Väčšina držiakov pre SB má cca 21.42 mm
data_rate: 500                # Dôležité pre scan mode

[bed_mesh]
speed: 300                # S Eddy môžeš lietať
horizontal_move_z: 2
mesh_min: 30, 30          # Nezabudni na offsety sondy!
mesh_max: 320, 320
probe_count: 50, 50       # Eddy zvládne 50x50 za pár sekúnd
algorithm: bicubic
scan_overshoot: 8         # Potrebné pre plynulý obrat hlavy pri skenovaní
