#####################################################################
#      Extruder & Hotend (SB2240 CAN)
#####################################################################

[extruder]
step_pin: sb2240:PD0
dir_pin: sb2240:PD1
enable_pin: !sb2240:PD2

# Clockwork 2 Config
rotation_distance: 22.6789511
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: sb2240:PB13

# Rapido 2 UHF Setup
sensor_type: PT1000
sensor_pin: sb2240:PA3
pullup_resistor: 2200            # Správne pre SB2240 a PT1000

## Teplotne limity (Upravene pre testovanie na stole!)
min_temp: -100              # VAROVANIE: Pri realnej tlaci zmente na 0 !!!
#min_temp: 0
max_temp: 350
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 101.0
max_extrude_cross_section: 5

# Tlak v tryske (kalibrujte neskor)
# pressure_advance: 0.05
# pressure_advance_smooth_time: 0.040

[tmc2240 extruder]
# SB2240 používa SPI, nie UART (TMC2240 integrovany na SB2240)
cs_pin: sb2240:PA15
spi_software_sclk_pin: sb2240:PB10
spi_software_mosi_pin: sb2240:PB11
spi_software_miso_pin: sb2240:PB2
run_current: 0.650               # Pre LDO pancake motor
stealthchop_threshold: 0         # Extrúder chceme v SpreadCycle pre silu a presnosť
driver_TPFD: 0

#control: pid
#pid_kp: 22.2
#pid_ki: 1.08
#pid_kd: 114
