# VORON 2.4 350mm "Beštia" - Config Revízia 2.0
# Hardware: Manta M8P V2, CB2, 6x TMC5160T Pro, SB2240 CAN
# X/Y: 48V, 0.9deg motory, Sensorless Homing
# Z: 24V, 1.8deg motory
# Extruder: Rapido UHF, CNC Tap

[include mainsail.cfg]
[include probe.cfg]
[include quad_gantry_level.cfg]
# [include macros.cfg] # Sem neskôr vlož homing makrá
[include KlipperScreen.conf]
# [include moonraker_obico_macros.cfg]
#[include timelapse.cfg]   #pripojenie kamery
#[include stealthburner_leds.cfg]
#[include sensors.cfg]

[board_pins manta_m8p]
[display_status]

[mcu]
# UUID Manta dosky (získané cez canbus_query)
canbus_uuid: e50d87...... (DOPLNIŤ TVOJE UUID)

[mcu sb2240]
# UUID Toolhead dosky
canbus_uuid: d34e12...... (DOPLNIŤ TVOJE UUID)

[printer]
kinematics: corexy
max_velocity: 600                 # 48V a 5160 umožňujú vysoké rýchlosti
max_accel: 10000                  # Input Shaper dovolí viac
minimum_cruise_ratio: 0.5 # Odporúčané pre novšie verzie Klipper 
max_z_velocity: 30                # Pri 4x Z-motoroch 5160 môžeš neskôr skúsiť aj 40max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout] timeout: 1800 # 30 minút pred vypnutím motorov/ohrevu
