#####################################################################
#      Probe (Chaoticlab CNC TAP V2) - Zapojenie 5V/GND/PB9
#####################################################################

[probe]
pin: ^sb2240:PB9              # Pull-up (^) je nutný pre čistý signál z optiky
x_offset: 0                   
y_offset: 0                   
# z_offset: 0                 # Kalibruj cez PROBE_CALIBRATE po nahriatí na 150C
speed: 5.0                    
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.0075
samples_tolerance_retries: 3

# Bezpečnostné makro pre trysku a PEI
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info("Teplota trysky %dC je privela pre Tap, znizujem na 150C" % ACTUAL_TEMP) }
        M109 S{PROBE_TEMP}
    {% endif %}

[quad_gantry_level]
##  Gantry Corners pre 350mm model
##  Tieto body definujú, kde sa fyzicky nachádzajú ložiská gantry
gantry_corners:
   -60,-10
   410,420
##  Body, v ktorých bude CNC Tap reálne merať (vždy vnútri plochy podložky)
points:
   50,25
   50,275
   300,275
   300,25
speed: 300             # Rýchlosť presunu medzi bodmi
horizontal_move_z: 10  # Výška, do ktorej Tap odskočí (pri Tape radšej bezpečných 10mm)
retries: 5             # Koľkokrát sa pokúsi o vyrovnanie, kým hodí chybu
retry_tolerance: 0.0075 # Presnosť, ktorú chceš dosiahnuť (0.0075mm je profi úroveň)
max_adjust: 10         # Maximálny rozdiel, ktorý je ochotný opraviť (ochrana mechaniky)
