#####################################################################
#      Sonda - Chaoticlab CNC TAP V2
#####################################################################

[probe]
pin: ^sb2240:PB9              # Optický senzor na SB2240 (5V/GND/PB9)
x_offset: 0                   # Tryska je stredom sondy
y_offset: 0
#z_offset: 0                  # Nastavíš cez PROBE_CALIBRATE
speed: 5.0                    # Rýchlosť sondovania
samples: 3                    # 3 merania pre presnosť
samples_result: median        # Berie sa stredná hodnota
sample_retract_dist: 3.0      # Odskok medzi vzorkami
samples_tolerance: 0.0075     # Prísna tolerancia pre CNC Tap
samples_tolerance_retries: 3  # Opakovanie pri nepresnom meraní

# Ochranné makro: Zabráni prepáleniu PEI pri sondovaní horúcou tryskou
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info("Teplota trysky %dC je privela pre Tap, znizujem na 150C" % ACTUAL_TEMP) }
        M109 S{PROBE_TEMP}
    {% endif %}
