#####################################################################
#      Gantry Alignment - Quad Gantry Level (QGL)
#####################################################################

[quad_gantry_level]
##  Gantry Corners pre 350mm model (fyzické umiestnenie ložísk)
gantry_corners:
   -60,-10
   410,420

##  Meracie body (musia byť vnútri podložky 0-350)
points:
   50,25
   50,275
   300,275
   300,25

speed: 300              # Rýchlosť presunu medzi bodmi (48V setup)
horizontal_move_z: 10   # Bezpečný odskok nad podložku, tj výška, do ktorej sa sonda (Tap) zdvihne pred presunom
retries: 5              # Max počet pokusov na vyrovnanie
retry_tolerance: 0.0075 # Cieľová presnosť vyrovnania
max_adjust: 10          # Bezpečnostný limit pre korekciu, tj Maximálna povolená oprava (bezpečnostná poistka)
