#####################################################################
#      Gantry Alignment - Quad Gantry Level (QGL)
#####################################################################

[quad_gantry_level]
##  Gantry Corners pre 350mm model
##  Tieto súradnice definujú fyzické rohy gantry (stredy ložísk)
gantry_corners:
   -60,-10
   410,420

##  Body, v ktorých bude CNC Tap vykonávať meranie.
##  Musia byť vnútri plochy podložky (0-350).
points:
   50,25
   50,275
   300,275
   300,25

speed: 300              # Rýchlosť presunu medzi bodmi (48V to zvládne hravo)
horizontal_move_z: 10   # Výška, do ktorej sa sonda (Tap) zdvihne pred presunom
retries: 5              # Počet pokusov o vyrovnanie
retry_tolerance: 0.0075 # Prísna tolerancia pre presnosť CNC Tapu
max_adjust: 10          # Maximálna povolená oprava (bezpečnostná poistka)
