#####################################################################
#      Cartographer CAN - Eddy Current Sensor & Touch
#####################################################################

[mcu scanner]
canbus_uuid: 123456789abc # SEM DOPLŇ SVOJE UUID

[cartographer]
mcu: scanner
# Offsety: Cartographer býva zvyčajne za tryskou
x_offset: 0                          
y_offset: 15                         # Skontroluj podľa tvojho držiaka
sensor: cartographer
sensor_alt: cartographer
# Režim 'touch' je kľúčový - umožňuje tryske dotknúť sa podložky
calibration_method: touch            
z_offset: 0.05                       # Štartovacia hodnota
speed: 40.0                          # Rýchlosť pohybu pri skenovaní
hop_speed: 5.0                       # Rýchlosť zdvihu
# Nastavenie pre Bed Mesh v reálnom čase
mesh_runs: 2

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 30, 30             # Nezabudni pripočítať offsety (0, 15)
mesh_max: 320, 320           # Pri 350mm ráme
probe_count: 50, 50          # S Cartographerom môžeš ísť do extrémov
algorithm: bicubic
