# ======================================================================
# VORON 2.4 - MANTA M8P V2.0 + SB2240 CONFIGURATION
# ======================================================================
# VORON 2.4 350mm "Beštia" - Config Revízia 2.0
# Hardware: Manta M8P V2, CB2, 6x TMC5160T Pro, SB2240 CAN
# X/Y: 48V, 0.9deg motory, Sensorless Homing
# Z: 24V, 1.8deg motory
# Extruder: Rapido UHF, CNC Tap
# Importovanie externých konfiguračných súborov
[include mainsail.cfg]    # Základné príkazy pre webové rozhranie Mainsail
[include Extruder_Hotend.cfg]      # Konfigurácia tvojej CAN zbernice a toolheadu
#[include cartographer.cfg]
[include quad_gantry_level.cfg]
[include filament_sensor.cfg]
# [include KlipperScreen.conf] <--- TENTO RIADOK ZAKOMENTUJ (pridaj #) ALEBO VYMAŽ
#[include moonraker_obico_macros.cfg]
#[include timelapse.cfg]   #pripojenie kamery
[include stealthburner_leds.cfg]
#[include sensors.cfg]

[board_pins manta_m8p_v2]
aliases:
# --- MOTORY (Stepper Drivers) ---
    M1_STEP=PE6,  M1_DIR=PE5,  M1_EN=PC14,  M1_CS=PC13,
    M2_STEP=PE2,  M2_DIR=PE1,  M2_EN=PE4,   M2_CS=PE3,
    M3_STEP=PB8,  M3_DIR=PB7,  M3_EN=PE0,   M3_CS=PB9,
    M4_STEP=PB4,  M4_DIR=PB3,  M4_EN=PB6,   M4_CS=PB5,
    M5_STEP=PG13, M5_DIR=PG12, M5_EN=PG15,  M5_CS=PG14,
    M6_STEP=PG9,  M6_DIR=PD7,  M6_EN=PG11,  M6_CS=PG10,
    M7_STEP=PD4,  M7_DIR=PD3,  M7_EN=PD6,   M7_CS=PD5,
    M8_STEP=PC7,  M8_DIR=PC8,  M8_EN=PD2,   M8_CS=PC6,
# --- OHREVY A TERMISTORY ---
    BED_OUT=PF5,  BED_TEMP=PB1,
    HE0=PA0,      T0=PB0,
    HE1=PA1,      T1=PC5,
    HE2=PA3,      T2=PC4,
    HE3=PA5,      T3=PA7,
# --- VENTILÁTORY ---
    FAN0=PF7,  FAN1=PF9,  FAN2=PF6,  FAN3=PF8,  FAN4=PA4,
    FAN5=PA6,  FAN6=PA2,
# --- OSTATNÉ A CAN ---
    RGB=PD15,      #PROBE=PD13,
    I2C_SCL=PA8,   I2C_SDA=PC9,
    CAN_TX=PD0,    CAN_RX=PD1
    
# ======================================================================
#  Definícia MCU (Dosiek)
# ======================================================================

# Hlavná doska Manta M8P V2 (Riadi X, Y, Z motory a Bed)
[mcu]
# Ziskajte prikazom: ~/klipper/scripts/canbus_query.py can0
# Tu musite dat spravne UUID, ktore zistite cez "canbus_query.py"
# Ak mate Mantu ako CAN bridge, bude to CAN UUID.
canbus_uuid: ff0e609bdde6


# 2. Toolhead doska SB2240 (Extruder, Hotend, Fans, Probe, X-Endstop)
[mcu sb2240]
#canbus_uuid: VASE_DRUHE_UUID # Toto bude pre SB2240 (keď ho pripojíš)
canbus_uuid: e0620981d8a4

# 3. Host (CB2) - pre teplotu systemu
#[mcu host CB2]
#serial: /tmp/klipper_host_mcu
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_48002E001951313434373135-if00

# ======================================================================
# Nastavenia Tlačiarne (Kinematika)
# VORON 2.4 - MANTA M8P V2.0 + SB2240 CONFIGURATION
# ======================================================================

[printer]
kinematics: corexy            # Typ pohybu tlačiarne (CoreXY pre Voron)
max_velocity: 300             # Maximálna rýchlosť v mm/s
#max_velocity: 500
max_accel: 3000               # Maximálne zrýchlenie v mm/s²
#max_accel: 10000             # S TMC5160 a 48V mozete ist casom vyssie (napr. 15-20k)
max_z_velocity: 15            # Rýchlosť pohybu osi Z
max_z_accel: 350              # Zrýchlenie osi Z
square_corner_velocity: 5.0   # Rýchlosť prejazdu cez rohy

[safe_z_home]
home_xy_position: 175, 175
z_hop: 10

[force_move]
enable_force_move: True

[pause_resume]

#####################################################################
#      X Stepper Settings - SLOT 1 (48V TMC5160)
#####################################################################

[stepper_x]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0

rotation_distance: 40
microsteps: 64            
full_steps_per_rotation: 400  # 0.9° motory
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 30        # Pre sensorless ideálne 40-60
homing_retract_dist: 5

[tmc5160 stepper_x]
cs_pin: PB9
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
#run_current: 1.1
run_current: 0.5
sense_resistor: 0.075
# SGT (StallGuard Threshold): Ladenie citlivosti
# Začni na 1, ak hneď zastane, choď nižšie (napr. -10), ak narazí, choď vyššie (napr. 10)
driver_SGT: 5
diag1_pin: ^!PF2

#####################################################################
#      Y Stepper Settings - SLOT 3 (48V TMC5160)
#####################################################################

[stepper_y]
#step_pin: PB8
#dir_pin: PB7
#enable_pin: !PE0

step_pin: PE6
dir_pin: PE5
enable_pin: !PC14

rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 400  # 0.9° motory
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 40
homing_retract_dist: 0

[tmc5160 stepper_y]
#cs_pin: PB9

cs_pin: PC13

spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: False
run_current: 1.1
sense_resistor: 0.075
driver_SGT: -3
diag1_pin: ^PF4

#####################################################################
#      Z Steppers (4x TMC5160 - Quad Gantry Level), alebo
#            4 nezávislé motory pre QGL - SPI Mode
#      Z Stepper Settings - SLOT 5, 6, 7, 8 (24V TMC5160)
#####################################################################

## Z0 Stepper - Front Left (Slot 5)
[stepper_z]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: !PA10
#endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
position_endstop: 5 # cartographer needs this to be commented out
#endstop_pin: cartographer:z_virtual_endstop
position_max: 300
position_min: -5
homing_speed: 15 # Pri 5160 môžeš ísť trochu svižnejšie
homing_retract_dist: 0

[tmc5160 stepper_z]
cs_pin: PG14
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: True
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

## Z1 Stepper - Rear Left (Slot 6)
[stepper_z1]
step_pin: PG9
dir_pin: !PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z1]
cs_pin: PG10
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: True
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

## Z2 Stepper - Rear Right (Slot 7)
[stepper_z2]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z2]
cs_pin: PD5
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: True
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

## Z3 Stepper - Front Right (Slot 8)
[stepper_z3]
step_pin: PC7
dir_pin: !PC8
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z3]
cs_pin: PC6
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
interpolate: True
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

#####################################################################
#      Bed Heater - SSR Setup (230V)
#####################################################################

[heater_bed]
##  SSR pripojené na svorku he1 (riadi výkon)
heater_pin: PA1
sensor_type: Generic 3950
##  Termistor podložky pripojený do portu THB (meria teplotu)
sensor_pin: PB1
max_power: 1.0   # Pri SSR a 230V podložke netreba umelo dusiť prúd zdroja
min_temp: 0
max_temp: 120
control = pid
pid_kp = 52.994
pid_ki = 1.723
pid_kd = 407.389

#####################################################################
#  ENVIRONMENT MONITORING (AHT10 & SGP40) na I2C porte Manty
#####################################################################
[temperature_sensor CB2]
sensor_type: temperature_host
min_temp: 10
max_temp: 85

[temperature_sensor Manta_V2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 90

#[temperature_sensor Chamber_Temp]
##sensor_type: AHT10
#i2c_mcu: mcu
#i2c_bus: i2c3              # ZMENENÉ z i2c2 na i2c3 (PA8 a PC9 pre STM32H723)
#i2c_address: 56            # Hex 0x38

#[sgp40 Air_Quality] 
# (Ak by si tam náhodou mal predsa len SGP40 z tvojho pôvodného configu, 
#  stačí prepísať hlavičku na [sgp40 Air_Quality])
#i2c_software_scl_pin: PA8
#i2c_software_sda_pin: PC9
#i2c_mcu: mcu
#i2c_bus: i2c2
## Referenčné senzory pre presný výpočet VOC Indexu
#ref_temp_sensor: temperature_sensor Chamber_Temp
#ref_humidity_sensor: temperature_sensor Chamber_Temp

#####################################################################
#      Inteligentné chladenie elektroniky (Rozdelené zóny)
#####################################################################

# 1. Udržiavací ventilátor (Termostat pre CB2 na ľavej strane)
# Zapne sa potichu len vtedy, keď teplota samotného procesora stúpne nad 50°C.
# Bude fungovať aj vtedy, keď tlačiareň len stojí zapnutá.
[temperature_fan Chladenie_CB2]
pin: PF9
max_power: 1.0
sensor_type: temperature_host
control: watermark
target_temp: 60.0
min_temp: 10.0
max_temp: 90.0

# 2. Výkonový ventilátor (Záťažový na pravej strane)
# Vôbec nesleduje teplotu. Zapne sa AŽ VTEDY, keď sa zapne vyhrievanie
# podložky, alebo keď sa pohnú motory (teda pri reálnej tlači).
[controller_fan Chladenie_Zataze]
pin: PF7
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z
fan_speed: 1.0         # Rýchlosť počas tlače (1.0 = 100%)
idle_timeout: 60       # Po zastavení tlače pobeží ešte 60 sekúnd a potom stíchne

#####################################################################
#      Teplotné senzory Toolhead dosky (SB2240)
#####################################################################

[temperature_sensor MCU_SB2240]
sensor_type: temperature_mcu
sensor_mcu: sb2240
min_temp: 0
max_temp: 105             # Na hlave je povolená vyššia teplota kvôli motoru a hotendu

[temperature_sensor SB2240_Okolie]
sensor_type: Generic 3950
sensor_pin: sb2240:PA2

#####################################################################
#      Osvetlenie Bestie - port PD15
#####################################################################

[neopixel caselight]
pin: PD15  
chain_count: 35
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
# initial_WHITE: 0.0 # Odkomentuj iba ak máš GRBW pás

[gcode_macro SVETLA_ZAPNUT]
description: Zapne osvetlenie na plnú bielu
gcode:
    SET_LED LED=caselight RED=1.0 GREEN=1.0 BLUE=1.0

[gcode_macro SVETLA_VYPNUT]
description: Vypne osvetlenie komory
gcode:
    SET_LED LED=caselight RED=0.0 GREEN=0.0 BLUE=0.0

[gcode_macro SVETLA_CERVENA]
description: Zapne osvetlenie na cerveno (napr. pri chybe)
gcode:
    SET_LED LED=caselight RED=1.0 GREEN=0.0 BLUE=0.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.994
#*# pid_ki = 1.723
#*# pid_kd = 407.389
